.wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 8px;
    max-height: calc(100vh - var(--header-height));
    /* height: calc(100vh - var(--header-height)); */

    padding: 16px;
}

.header {
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.header-content {
    border-bottom: 1px solid #bbb;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 12px;
}

.page-content {
    flex: 1;
}