.game-wrapper {
    position: relative;
    border-radius: 12px;
}

.thumb {
    width: 100%;
    object-fit: cover;
    height: calc(100vh - var(--header-height) - 100px);
}

.content {
    position: absolute;
    overflow-y: scroll;
    background: #333333;
    color: #fff;
    font-size: 2.4rem;
    line-height: 1.6;
    padding: 24px;
    border-radius: 24px;
    opacity: 0.8;
    top: 360px;
    bottom: 24px;
    right: 24px;
    left: 240px;
}

.content::-webkit-scrollbar {
    display: none;
}

.line {
    width: 100%;
    display: block;
}