.wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 8px;
    height: calc(100vh - var(--header-height));
    padding: 16px;
}

.plan-content {
    border: 1px solid #ccc;
    /* margin: auto; */
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb;
}

/* .action {} */

.exercise-list {
    /* justify-content: center; */
    /* align-content: center; */
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    height: calc(100vh - var(--header-height) - 160px);
    overflow-y: auto;
}